In [5]:
import pandas as pd
import numpy as np
import data_work

data=pd.read_csv("processed_20k.csv")

In [6]:
data_work.count_label_data(data["subcategory "])

Counter({7: 50000,
         6: 50000,
         4: 50000,
         5: 50000,
         1: 49477,
         3: 9543,
         2: 1469,
         0: 118})

In [3]:
from sklearn.model_selection import train_test_split 
import torch
traindata,test_data=train_test_split(data,test_size=0.4,random_state=42,stratify=data['subcategory '])
data = traindata.reset_index(drop=True)
test_data = test_data.reset_index(drop=True)
client_data,server_data=train_test_split(traindata,test_size=0.01,random_state=42)
client_data = client_data.reset_index(drop=True)
server_data = server_data.reset_index(drop=True)
trainloaders,testloaders=data_work.data_split(client_data,"subcategory ", 4,0.1,False)

prepairing non IID dataset
len of client data :154800, len of each subdata : 38700
client number 1 : train(34830), val(3870)
client number 2 : train(34830), val(3870)
client number 3 : train(34830), val(3870)
client number 4 : train(34830), val(3870)

AttributeError: 'DataFrame' object has no attribute 'drop_index'

In [4]:
server_data.to_csv("./data/server_data.csv")
test_data.to_csv("./data/test_data.csv")
for i in range(4):
    trainloaders[i].to_csv(f"./data/trainloader_{i}.csv")
    testloaders[i].to_csv(f"./data/testloader_{i}.csv")

In [7]:
data

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category
0,7,188809,130743,0,6,5,12626,37,6775,5,...,50611,5,0,142,0,17552,25490,0,1,1
1,6,243306,194056,10,5,8,47412,34,6775,1,...,0,1,0,121,0,2373,3683,0,1,0
2,7,143289,99255,0,6,5,51883,37,6775,5,...,48186,5,0,142,0,13025,21877,0,1,1
3,4,85020,74004,0,5,5,56325,40,3137,1,...,296,0,1,1,2,58423,0,0,1,3
4,1,130584,153341,0,5,10,58481,28,4782,2,...,13833,0,2,5,16,1201,0,278,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260602,6,256290,206910,10,5,8,58871,34,6775,1,...,0,1,0,121,0,2438,3722,0,1,0
260603,5,22173,20523,0,5,5,41366,34,3031,12,...,27201,6,6,250,181,48611,40558,33850,1,3
260604,7,147386,102715,11,6,7,21276,39,6775,4,...,54385,4,0,119,0,9595,17113,0,1,1
260605,6,254103,204723,10,5,8,58341,34,6775,1,...,0,1,0,121,0,2447,3731,0,1,0
260606,5,360,362,0,5,8,23509,34,1348,1,...,73,0,1,1,2,59149,0,0,1,3

In [14]:
te=pd.read_csv("./data/test_data.csv", index_col=0)

In [15]:
te

,subcategory,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,...,max,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category
0,1,125776,148533,0,5,5,37388,34,6776,9,...,75,5,4,548,213,27606,22439,14614,1,1
1,1,194760,216462,0,5,7,37681,40,6776,9,...,34297,5,4,576,321,7574,4679,12615,1,0
2,1,202505,224198,0,5,6,32595,34,6776,9,...,90,5,4,479,213,27064,21682,17642,1,0
3,5,18262,16727,0,5,5,45878,34,1270,1,...,381,0,1,1,2,58249,0,0,1,3
4,1,206166,227869,0,5,16,58481,30,5116,2,...,14489,0,2,5,16,1334,0,328,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104238,1,137401,160158,0,5,6,49539,34,6775,4,...,291,2,2,272,19,59150,46704,38409,1,1
104239,4,98576,85427,0,5,8,48535,39,2127,1,...,28,0,1,1,2,59387,0,0,1,3
104240,4,65827,57775,10,5,7,54084,39,4424,9,...,28535,5,4,341,78,41384,35998,29524,1,3
104241,7,141957,98045,0,6,6,41124,34,6775,23,...,56192,23,0,1031,0,36824,35681,0,1,1
104242,7,185524,128075,0,6,7,42224,39,6775,4,...,53038,4,0,119,0,11284,20344,0,1,1